{% extends 'core/base.html' %}

{% block title %}Consumo de almuerzo{% endblock %}

{% block main_container_class %}contenedor-principal{% endblock %}

{% block content %}
<div class="contenedor">
    <h1 class="titulo-central">Consumo de almuerzo</h1>
    <div class="subtitulo">Registro rápido mediante código QR</div>

    {% if messages %}
        {% for message in messages %}
            <div class="mensaje">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="tarjeta-interior">
        <p><strong>Empleado:</strong> {{ empleado.usuario.first_name }} {{ empleado.usuario.last_name }}</p>
        <p><strong>Usuario:</strong> {{ empleado.usuario.username }}</p>
        <p><strong>Fecha:</strong> {{ fecha }}</p>
    </div>
</div>
{% endblock %}
